<footer class="footer">
  <small>
    Sample App by <a href="http://www.facebook.com/markanthonyortega">Mark</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>